@charset "utf-8";
/* gallery.css */

/**********************************************/
/*** basics - the ultimate html, css and js ***/
/*** framework for instant web page         ***/
/**********************************************/
/*** author: Rafał Selewońko @ seler.info   ***/
/**********************************************/

/* standard: */
.gallery ul {
	list-style: none;
    margin:0;
    padding:0;
}
.gallery li {
	display: inline-table;
	margin:0;
	padding:0;
	vertical-align: top;
	border-spacing: 0;
}
.gallery a {
	margin:0;
    padding:0;
	border:0;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}
.gallery a img {
	margin:0;
    padding:0;
	border:0;
}
.gallery p {
	margin:0;
    padding:0;
	display:block;
}
.gallery a span {
	position: absolute;
	display: none;
}
.gallery a:hover span {
	display: inline;
}
/* custom: */

.gallery li {
	width: 200px;
    margin:0 10px 10px 0;
	border:1px solid #CACACA;
	background: #fff;
	padding: 5px;
}
.gallery a {
	width: 200px; 
	height: 150px;
}
.gallery p {
	margin:10px 0 0 0;
	text-align: center;
}
.gallery a span {
	background: #fff url(../images/gallery/zoom.in.png) center center no-repeat;
	opacity: .5;
}
